@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@font-face {
    font-family: 'Cooper';
    src: url('Cooper\ Black\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mohr';
    src: url('MohrRounded-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EB';
    src: url('EBGaramond-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}
  
.spacer {
    height: 10px
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8%;
    margin-left: 0;
}


img {
    max-width: 100%;
    height: auto;
    padding: 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    padding: 0 10px 0 10px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .1em;
    border-bottom-width: 2px;
}

#H {
    border-bottom-style: solid;
    border-bottom-color: #E4D000;
}

.verse {
    text-align: center;
    margin: 0;
    padding: 8px 0 8px 0;
    background-color: #E4D000;
    font-weight:bolder;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    position:relative;
    top: 35%;
    max-width: 620px;
    font-family: Mohr;
}

button {
    background-color: yellowgreen;
    border-radius: 9999px;
    width: 100%;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: bold;
    margin: 4px;
    border-color:pink;
}

button,
.mission,
.verse {
    color: white;
}

.info button {
    margin-top: 8%;
    max-width: 75%;
    font-weight: bolder;
    font-family: Mohr;
    font-size: 22px;
    color: black;
}

h2 {
    margin: 0;
    font-size: 75px;
    font-weight: bolder;
    font-family: Mohr;
}
 
.info-wrapper {
    background-image: url('Images/background.png');
    width: 100%;
    height: 649px;
    margin: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.mission h1 {
    margin: 40px 20px 55px 45px;
    font-weight: 900;
}

.mission p {
    font-size: 14px;
    font-weight: bold;
    flex-basis: 460px;
}

p .info {
    flex-basis: 625px;
}

.mission-wrapper {
    width: 100%;
    height: fit-content;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-container {
    background-color: black;
    opacity: 80%;
    display: flex;
    max-width: 800px;
    margin: 3% 0 3% 0;
}

.mission {
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}

.merch {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.pitch {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 200px;
    margin: 20px 40px 20px 220px; 
}

span {
    font-weight: 100;
}

.pitch h1 {
    margin: 0;
}

.flashy {
  height: 400vh;
  display: flex;
}

canvas {
  position: sticky;
  left: 40%;
  top: 25%;
  max-height: 100vh;
  max-width: 540px;
  transform: translate(-50%, 0%);
}

#scroll-container {
  height: 400vh; /* Set the desired height for the scroll container */
  background-color: #E4D000;
  display: flex;
  flex-direction: column;
}
  
#text-element,
#subtext-element,
#description, #header {
  position: sticky;
  width: fit-content;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-family: Cooper;
}

#Order {
    position: sticky;
    opacity: 1;
    transition: opacity 0.3s ease;
    font-family: EB;
}

#header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 500%;
    flex-basis: fit-content;
    top: 2%;
    left: 49%;
    flex-shrink: 5;
}

.scroll-animation {
    position: sticky;
    display: flex;
    top: 30%;
    left: 49%;
    max-height: 500px;
    margin-bottom: 30%;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 18%;
    width: 40%;
    left: 49%;
    margin-bottom: 55vh;
}
  
#text-element {
  display: block;
  font-size: 4em;
  font-weight: bold;
}

#subtext-element {
display: block;
font-size: 28px;
font-weight: bold;
}

#description {
    font-size: 25px;
    font-family: EB;
    font-weight: bold;
}

#subtext-element, 
#description {
    margin-left: 10px;
}