.info h2 {
    margin: 0 0 12px;
    font-size: 26px;
    font-family: 'Hornbill';
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    font-family: 'Big Caslon', sans-serif;
    margin-right: 10vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.3);
}

.info p {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 22px;
}

.info * {
    font-family: 'Big Caslon', sans-serif;
}

.info a {
    width: 100%;
    margin-right: 8px;
}

.info button, .rewards button, .question button {
    background-color: rgb(240, 172, 45);
    width: 100%;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 999;
    margin: 4px;
    border: 0;
    border-radius: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.info a {
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
}

button {
    color: white;
}

.info-wrapper {
    background-image: url('Images/Background.jpg');
    width: 100%;
    height: 600px;
    top: 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rewards-wrapper, .question-wrapper {
    background: radial-gradient(rgba(238, 70, 70, 0.822), rgb(238, 70, 70));
    width: 700px;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border-radius: 15px;
}

.rewards, .question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
    padding-bottom: 250px;
}

.rewards h2, .question h2 {
    font-size: 60px;
    margin: 20px 0 15px 0;
    font-weight: 200;
    font-family: 'Hornbill';
}

.bottom-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rewards button {
    background-color: rgb(179, 45, 45);
}

.question-wrapper {
    background: radial-gradient(rgba(238, 70, 148, 0.822), rgb(238, 70, 148)); 
}

.question button {
    background-color: rgb(189, 54, 117);
}

.question button, .rewards button {
    width: 260px;
}

.merch {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.pitch {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 200px;
    margin: 20px 40px 20px 220px; 
}

span {
    font-weight: 100;
}

.pitch h1 {
    margin: 0;
}

@media(max-width: 1450px) {
.rewards-wrapper, .question-wrapper {
    width: 70%;
}

}

@media(max-width: 1150px) {
.info-wrapper {
    justify-content: center;
}

.info p {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 21px;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
}

.rewards, .question {
    padding-top: 125px;
    padding-bottom: 125px;
}

.rewards-wrapper, .question-wrapper {
    width: 700px;
}

}

@media(max-width: 850px) {
.landing-image img {
    content: url('Images/Mobile-Header.png');
}
}

@media(max-width: 450px) {
.info-wrapper {
    background-image: url('Images/Circle-Juice.png');
    background-position: 0;
    background-attachment: inherit;
}

.info {
    margin: 7vh 10px 7vh 10px;
}
}